<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Adicionar Análise</title>
</head>
<body>
    <h1>Adicionar Análise para o Filme: <span th:text="${filme.titulo}">Título do Filme</span></h1>

    <form th:action="@{/filmes/{filmeId}/adicionar-analise(filmeId=${filme.id})}" th:object="${analise}" method="post">
        <label for="comentario">Comentário:</label>
        <textarea id="comentario" th:field="*{comentario}" required></textarea><br>

        <label for="nota">Nota:</label>
        <input type="number" id="nota" th:field="*{nota}" min="1" max="10" required/><br>

        <button type="submit">Salvar Análise</button>
    </form>

    <a th:href="@{/filmes/{filmeId}/analises(filmeId=${filme.id})}">Voltar para Análises</a>
    
    <script src="static.js/tema.js"></script>
    
</body>
</html>
